*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*so that box size is remain same on
                             adding more content the size of the content 
                             will reduce*/
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100%; /*this height is according to the wrapper that is parent*/
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #0b0c0b;
}
h1:hover{
    transform: scale(1.03);/*on hovering card size will increase*/
    filter: drop-shadow(0 0 20px #025913);/*on hovering shadow will appear  // we can also use box-shadow*/
    transition: 0.05s;/*all above work done within 0.3s*/
    color: rgb(125, 223, 33);
}

.gallery{
    display: flex;
    flex-wrap: wrap;/*by default all elements are placed in 
                     horizontally so to bring pictures down we 
                    write flex-wrap=wrap*/
    justify-content: space-between;
}

.card{
    width: 32%;
    position: relative;/*as text is also over the image so 
                         the parent which is absolute so the
                         parent is must relative*/
    margin-bottom:20px;
    border-radius: 10px;/*to round the corner of the card we use border radius*/
    overflow: hidden;  
    aspect-ratio: 1.2;                   
}
.card img{
    height: 100%;/*down become round*/
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;

} 
.card:hover{
    transform: scale(1.03);/*on hovering card size will increase*/
    filter: drop-shadow(0 0 10px #333);/*on hovering shadow will appear  // we can also use box-shadow*/
    transition: 0.05s;/*all above work done within 0.3s*/
    

}
.card:hover img{
    filter: grayscale(0%);
}

.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg rgba(0,0,0,0.5) 0%,rgba(255,255,255));
    transition: 0.3s;
}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}

